


* {
	box-sizing: border-box;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 100px;
}

.navigation_wrapper {
	padding-top: 24px;
	padding-bottom: 80px;
}

.navigation {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: #B0B0B0;
	padding-top: 10px;
	font-weight: 600;
}

#bio {
	font-size: 48px;
	line-height: 66px;
	font-weight: 500;
}

#bio_sub {
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
}

#current {
	color: #000000;
}

a {
	color: #B0B0B0;
	text-decoration: none;
}

a:active {
	color: #000000;
}

a:hover {
	color: #000000;
}

#column_container {
	width: 800px;
	margin: auto;
	padding-top: 140px;
}

#column_container2 {
	width: 800px;
	margin: auto;
	padding-top: 100px;
}


#column_container:after {
	content: "";
	display: table;
	clear: both;
}

#column_container2:after {
	content: "";
	display: table;
	clear: both;
}


.line {
	width: 560px;
	border-bottom: 2px solid black;
	position: absolute;
}

.short_separator {
	width: 50px;
	border-bottom: 2px solid black;
	position: absolute;
}

.column {
	float: left;
	padding-bottom: 200px;
}

/*@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}*/


.left {
	width: 33.33%;
	height: 200px;
}

.right {
	width: 66.67%;
}

.book {
	padding-top: 10px;
	padding-bottom: 10px;
}

.category {
	font-size: 20px;
	line-height: 25px;
	top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
}

.header {
	font-family: 'Work Sans', sans-serif;
	font-size: 32px;
	line-height: 40px;
	padding-top: 24px;
}

.sub_header {
	font-family: 'Work Sans', sans-serif;
	font-size: 26px;
	line-height: 32px;
	padding-top: 24px;
	width: 200px;
}

.description {
	padding-top: 24px;
	font-family: Muli;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	width: 400px;

}

#profile_pic {
	width: 140px;
	height: 140px;
	border-radius: 50%;
}

.author {
	color: #979797;
}

/*Book Recs styling*/

.left_rec {
	width: 33.33%;
	height: 60px;
}

.right_rec {
	width: 66.67%;
	height: 60px;
}


.book_row { 
	width: 800px;
	margin: auto;
}

.book_column {
  float: left;
  width: 240px;
  height: 240px;
  /*border: 1px solid #979797;*/
}


#book_background {
	width: 240px;
	height: 240px;
}

.bookspace {
	margin-right: 40px;
}



/*
#book_row:after {
	content: "";
	display: table;
	clear: both;
}*/