


* {
	box-sizing: border-box;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 100px;
}

/*Top Navigation Bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  font-weight: 400;
}

li a {
  display: block;
  text-align: right;
  text-decoration: none;
}

.active {
	color: black;
}

#name_header {
	color: black;
	font-size: 40px;
}

/*Secondary Navigation*/

.navigation_wrapper {
	padding-top: 24px;
	padding-bottom: 80px;
}

.navigation {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: #B0B0B0;
	padding-top: 10px;
}

#large_bio {
	font-size: 72px;
	line-height: 90px;
	color: #8C8C8C;
	font-weight: 300;
	padding: 100px 100px 40px 0px;
	width: 800px;
	margin: auto;
}

.highlight_text {
	color: black;
}

#bio {
	font-size: 48px;
	line-height: 66px;
	font-weight: 500;
}

#bio_sub {
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
}

#current {
	color: #000000;
}

a {
	color: #B0B0B0;
	text-decoration: none;
}

a:active {
	color: #000000;
}

a:hover {
	color: #000000;
}

#column_container {
	width: 800px;
	margin: auto;
	padding-top: 70px;
}

#column_container2 {
	width: 800px;
	margin: auto;
	padding-top: 100px;
}


#column_container:after {
	content: "";
	display: table;
	clear: both;
}

#column_container2:after {
	content: "";
	display: table;
	clear: both;
}


.line {
	width: 560px;
	border-bottom: 2px solid black;
	position: absolute;
}

.short_separator {
	width: 50px;
	border-bottom: 2px solid black;
	position: absolute;
}

.column {
	float: left;
	padding-bottom: 160px;
}

.column3 {
	float: left;
	padding-bottom: 80px;
}

/*@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}*/

/*Work Pages Styling*/

.column2 {
	float: left;
	padding-bottom: 50px;
}

#portfolio { 
	width: 600px;
	margin: auto;
}

.sub_portfolio {
	font-size: 20px;
	font-weight: 400;
	line-height: 50px;
}
.year {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	color: gray;
}

.project_header {
	margin-bottom: 100px;
}

.left {
	width: 33.33%;
	height: 200px;
}

.right {
	width: 66.67%;
}

.left_proj {
	width: 33.33%;
}

.right_proj {
	width: 66.67%;
	height: 60px;
}


#footer {
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
	text-align: center;
	padding-top: 60px;
}

/*Unsorted
*/

.book {
	padding-top: 10px;
	padding-bottom: 10px;
}

.category {
	font-size: 20px;
	line-height: 25px;
	top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
}

.header {
	font-family: 'Work Sans', sans-serif;
	font-size: 32px;
	line-height: 40px;
	padding-top: 24px;
}

.sub_header {
	font-family: 'Work Sans', sans-serif;
	font-size: 26px;
	line-height: 32px;
	padding-top: 24px;
	width: 200px;
}

.description {
	padding-top: 24px;
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	width: 400px;

}

#profile_pic {
	width: 140px;
	height: 140px;
	border-radius: 50%;
}

.author {
	color: #979797;
}

/*Book Recs styling*/

.left_rec {
	width: 33.33%;
	height: 60px;
}

.right_rec {
	width: 66.67%;
	height: 60px;
}


.book_row { 
	width: 800px;
	margin: auto;
}

.book_column {
  float: left;
  width: 240px;
  height: 240px;
  /*border: 1px solid #979797;*/
}


#book_background {
	width: 240px;
	height: 240px;
}

.bookspace {
	margin-right: 40px;
}


/*
#book_row:after {
	content: "";
	display: table;
	clear: both;
}*/